{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="George W. Park">
    <meta name="description" content="This project demonstrates how CSS grid (with flexbox and float fallback) can be used to re-create the layout of an Instagram profile page.">

    <!-- Title -->
    <title>cloth closet</title>

    <!-- External CSS Files -->
    <link rel="stylesheet" href="{% static 'assets3/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'assets3/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

</head>
<body>

    <header>
        <br><br><br>
        <div class="container">

            <div class="profile">

                <div class="profile-image">

                    <img src="{{profile.image.url}}" alt="" style="width: 200px; height: 200px;">

                </div>

                <div class="profile-user-settings">
                    
                       <h5 style="font-size: 30px;" class="profile-user-name"> ユーザー名：{{user.username}}</h5><br>
                        <h5 style="font-size: 30px;" class="profile-user-name">メールアドレス：{{user.email}}</h5><br><br><br>


                        <a style="text-decoration: none;" href="{% url 'signout' %}" class="btn profile-edit-btn">ログアウト</a>

                        
                        <br><br>


                        <br>
                        


                    
                    
                    
                    

                </div>

                





            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->

    </header>
    
    <main>

        <div class="container">

            <div class="gallery">
                
                {% for post in posts %}
                <a href="{{post.get_absolute_url}}"><div class="gallery-item" tabindex="0">

                    <img src="{{ post.picture.url }}" class="gallery-image" alt="" style="width: 500px; height: 300px; object-fit: cover;">

                    <div class="gallery-item-info">


                    </div>

                </div></a>
                {% endfor %}

                

                

            </div>
            <!-- End of gallery -->


        </div>
        <!-- End of container -->

    </main>
    {% endblock content %}
